<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalpa.pocket.mapper.RoleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.catalpa.pocket.entity.RoleInfo">
        <id column="id" property="id" />
    <result column="del_flg" property="delFlg" />
    <result column="created_date" property="createdDate" />
    <result column="updated_date" property="updatedDate" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        del_flg,
        created_date,
        updated_date,
        id, role_code, role_name
    </sql>

</mapper>
