<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catalpa.pocket.mapper.UserIdentityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.catalpa.pocket.entity.UserIdentity">
        <id column="id" property="id"/>
        <result column="del_flg" property="delFlg"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <result column="user_id" property="userId"/>
        <result column="platform_id" property="platform"/>
        <result column="third_party_id" property="thirdPartyId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        del_flg,
        created_date,
        updated_date,
        id, user_id, platform_id, third_party_id
    </sql>

</mapper>
